.cartItemCardContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: rgb(240, 240, 240);
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.image {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  font-size: 0.75rem;
}

.productID {
  font-size: 0.75rem;
  font-weight: bold;
}

.quantity {
  font-size: 0.75rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
